# Fading
fading = true;                  # Fade windows during opacity changes.
fade-delta = 12;                # The time between steps in a fade in milliseconds. (default 10).
fade-in-step = 0.15;            # Opacity change between steps while fading in. (default 0.028).
fade-out-step = 0.15;           # Opacity change between steps while fading out. (default 0.03).
no-fading-openclose = false; # Fade windows in/out when opening/closing.

backend = "glx";
glx-no-stencil = true;
glx-copy-from-front = false;
glx-swap-method = 1;
blur-background = true;
blur-kern = "7x7box";

# Shadow
shadow = true;	    # Enabled client-side shadows on windows.
no-dock-shadow = true;	# Avoid drawing shadows on dock/panel windows.
no-dnd-shadow = true;	    # Don't draw shadows on DND windows.
clear-shadow = true;	    # Zero the part of the shadow's mask behind the window (experimental).
shadow-radius = 10;	    # The blur radius for shadows. (default 12)
shadow-offset-x = -15;	# The left offset for shadows. (default -15)
shadow-offset-y = -15;	# The top offset for shadows. (default -15)
shadow-opacity = 0.5;
menu-opacity = 1;
shadow-exclude = [
#"! name~=''",
"n:w:Firefox",
"n:w:*Chrome*",
"n:w:*Chromium*",
"class_g ?= 'dzen'",
"class_g ?= 'Cairo-dock'",
"class_g ?= 'Xfce4-notifyd'",
"class_g ?= 'Xfce4-power-manager'"
];
